<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.curlytops.suroytabukidnon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <activity
            android:name="com.android.curlytops.suroytabukidnon.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.curlytops.suroytabukidnon.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.android.curlytops.suroytabukidnon.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.android.curlytops.suroytabukidnon.Municipality.Tab.TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />

        <activity
            android:name="com.android.curlytops.suroytabukidnon.Event.EventDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />


        <activity
            android:name="com.android.curlytops.suroytabukidnon.AppIntro.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.FullScreen" />

        <activity
            android:name="com.android.curlytops.suroytabukidnon.Municipality.Tab_Item_Details.TabItemDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />

        <activity android:name=".SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".Event.news.EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />

    </application>
</manifest>