<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.curlytops.suroytabukidnon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Connection.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".Utils.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Connection.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Municipality.Tab.TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".AppIntro.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.FullScreen" />
              <activity
            android:name=".Event.EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".Municipality.Tab_Item_Details.TabItemDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme.Detail" />
        <activity
            android:name=".Search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/MyTheme"/>
    </application>

</manifest>